@font-face {
    font-family: "Icon";
    src: url("../fonts/icons.woff") format("woff");
}

body {
    font-size: 12pt;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 48pt;
    font-weight: 300;
    letter-spacing: -2px;
    margin: 24pt 0 24pt -2px;
}

h2 {
    font-weight: 300;
    margin: 24pt 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

h3 {
    margin: 2em 0 1em;
}

a {
    color: #04a;
}
a:hover {
    color: #15b;
}
a:active {
    color: #048;
}
a:not(:hover) {
    text-decoration: none;
}

header > a,
#examples a:not(:first-child) {
    margin-left: 1em;
}

section:not(.home) {
    display: none;
}

input[type="text"], textarea, button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 1em 0;
}

.option, button {
    margin: 2em 0;
}

#file_input {
	position: relative;
}

#file_input li {
	list-style-position: inside;
	text-indent: -9.5pt;
	padding-left: 1em;
}

#file_icon {
	font-family: "Icon";
	font-size: 24pt;
	position:relative;
	top: 10px;
	left: 5px;
	opacity: 0.35;
}

#file_desc {
	display: none;
	position: absolute;
	left: 90%;
	background-color: #fff;
	padding: .5em;
}

#file_icon:hover + #file_desc {
	display: block;
	border: 1px solid #aaa;
	width: 170%;
	font-size: 11pt;
}

#file_icon:hover {
	opacity: 0.4;
	cursor: default;
}

.regex {
	font-family: monospace;
	font-size: .9em;
}

input, textarea {
    outline: none;
    border: 1px solid #aaa;
    padding: .4em;
}
input.mono {
    font-family: monospace;
}

select {
    outline: none;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

input:focus,
input.focus,
textarea:focus {
    border-color: black;
}

button {
    background: #04a;
    border: none;
    color: rgba(255,255,255,.9);
    padding: 1em;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background: #15b;
    color: #fff;
}
button:active {
    background: #048;
    color: rgba(255,255,255,.6);
}
button:disabled {
    background: #aaa;
    pointer-events: none;
}

.load {
    visibility: hidden;
    font-family: "Icon";
    position: absolute;
}

/* Icon nav */
header.icon {
    width: 10.1em;
    font-family: "Icon";
    font-size: 24pt;
    overflow: hidden;
    margin-left: -.1em;
}
header.icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header.icon ul li {
    float: left;
    color: #aaa;
    cursor: pointer;
}
header.icon ul li:hover {
    color: #04a;
}
header.icon ul li.active {
    color: #04a;
    pointer-events: none;
}
header.icon ul.tabs li {
    margin-right: 1em;
}
header.icon ul.tabs li.disabled {
    color: #ddd;
    pointer-events: none;
}
header.icon ul.links li {
    margin-left: 1em;
}
header.icon ul.links li a {
    color: #aaa;
}
header.icon ul.links li a:hover {
    color: #04a;
    text-decoration: none;
}

/* Home */
section.home .content {
    width: calc((100% / 2) - 100px);
    min-width: 480px;
    float: left;
}
section.home .content li {
    margin: 1em 0;
}
section.home .content pre {
    padding: .2em 0;
    overflow: auto;
}
section.home .shivizexample {
    float: left;
    padding-left: 50px;
    padding-top: 50px;
    width: calc((100% / 2) - 100px);
/*    border: 1px solid #aaa; */
}
section.home .shivizexample img {
    padding-top: 75px;
}

#versionContainer {
    position: absolute;
    top: 24pt;
    right: 24pt;
    height: 30px;
    text-align: right;
    color: grey;
    font-size: 8pt;
    font-family: monospace;
}

/* Input */
section.input .right textarea#input {
    resize: none;
    height: calc(100% - 2em);
}

section.input {
    width: 100%;
}

section.input table {
    width: 100%;
    border-collapse: collapse;
}

section.input td {
    vertical-align: top;
    padding: 0;
}

section.input .left {
    width: 240pt;
    min-width: 240pt;
    padding-right: 2em;
}

#input {
    margin: 0;
}

#examples {
    font-size: 10pt;
    padding-bottom: 1em;
}


/* Visualization */
.visualization header {
    position: fixed;
    background: #fff;
    padding: 24pt;
    top: 0;
    left: 0;
    z-index: 4;
}

.visualization > .left:not(.dialog) {
    position: relative;
    z-index: 4;
}
.visualization .left .bg {
    position: fixed;
    background: #fff;
    width: 240pt;
    height: 100%;
    padding: 24pt;
    top: 0;
    left: 0;
}

.visualization .left #tabs {
    background: #fff;
    width: 288pt;
    top: 6em;
    position: fixed;
    z-index: 3;
    left: 0;
}

.visualization .log {
    position: absolute;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 10pt;
    font-family: monospace;
    line-height: 1em;
    top: 1em;
}

.visualization .log td.spacer {
    width: 12pt;
    min-width: 12pt;
}

.visualization .log .line {
    position: absolute;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    transition: margin;
    transition-duration: .1s;
    transition-timing-function: ease-out;
}

.visualization .log .logLabelL {
    width: inherit;
    position: fixed;
    margin-top: 1em;
    color: black;
    margin-bottom: 1em;
    white-space: pre-wrap;
    font-family: sans-serif;
    font-size: 11pt;
    opacity: 0.8;
    z-index: 4;
}

.visualization .log .logLabelR {
    width: inherit;
    position: fixed;
    margin-top: 1em;
    color: black;
    margin-bottom: 1em;
    white-space: pre-wrap;
    font-family: sans-serif;
    font-size: 11pt;
    opacity: 0.8;
    z-index: 4;
}

.visualization .log .line.more:hover,
.visualization .log .line.more.reveal {
    overflow: visible;
    font-size: 0;
    line-height: 1em;
}

.visualization .log .line.more:hover > .line,
.visualization .log .line.more.reveal > .line {
    z-index: 1;
    font-size: 10pt;
    line-height: 1em;
}

.visualization .log .line.more:hover > .line:last-child,
.visualization .log .line.more.reveal > .line:last-child {
}

.visualization .log .line.focus,
.visualization .log .line.more.reveal > .line.focus {
    white-space: normal;
    z-index: 3;
    margin-left: 2em;
    word-break: break-all;
}

.visualization .highlight {
    position: absolute;
    transition: top, background, height;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    box-shadow: 0 0 0 1px #fff;
    z-index: 2;
    padding: 1px;
    margin: -1px;
    margin-left: calc(20pt - 2px);
    cursor: pointer;
}

.visualization .highlight:before {
    position: absolute;
    display: block;
    content: attr(data-ln);
    width: 20pt;
    height: inherit;
    max-height: 10pt;
    padding: 1px 0;
    font: 8pt monospace;
    left: -20pt;
    top: 0;
    text-align: center;
    background: inherit;
    color: rgba(255,255,255,.6);
    box-shadow: 0 -1px #fff, 0 1px #fff;
}

.visualization #graph {
    margin-left: 264pt;
}

#searchbar {
    position: fixed;
    top: 0;
    height: 2em;
    padding: 2em 0;
    background: #fff;
    z-index: 4;
}
#searchbar #bar {
    height: 24pt;
    width: 100%;
    z-index: 1;
}
#searchbar #bar input {
    height: 24pt;
    font-size: 12pt;
    margin: 0;
    float: left;
    width: calc(100% - 52pt);
    padding-right: 24pt;
    border-right: none;
}
#searchbar.results #bar input {
    width: calc(100% - 140pt);
}
#searchbar #bar .clear {
    height: 22pt;
    width: 22pt;
    position: absolute;
    margin-top: 1px;
    left: calc(100% - 76pt);
    background: white;
    cursor: pointer;
}
#searchbar.results #bar .clear {
    left: calc(100% - 164pt);
}
#searchbar #bar input.empty + .clear {
    display: none;
}
#searchbar #bar .clear div {
    width: 2px;
    height: 14pt;
    background: #04a;
    position: absolute;
    overflow: hidden; 
    margin-left: 12pt;
    margin-top: 4pt;
}
#searchbar #bar .clear .one {
    transform: rotate(45deg);
}
#searchbar #bar .clear .two {
    transform: rotate(-45deg);
}

#searchbar #bar .nav {
    display: none;
}
#searchbar.results #bar .nav {
    display: initial;
}

#searchbar #bar #numResults {
    width: 72pt;
}

#searchbar #bar #searchButton {
    width: 52pt;
}
#searchbar.results #searchButton {
    display: none;
}

#searchbar #bar #numFound {
    width: 92pt;
    float: left;
    line-height: calc(24pt - 2px);
    text-align: center;
    font-size: 10pt;
    text-transform: uppercase;
    border-width: 1px 0;
    border-style: solid;
    border-color: #aaa;
}
#searchbar #bar input:focus ~ #numFound,
#searchbar #bar input.focus ~ #numFound {
    border-color: #000;
}

#searchbar #bar button {
    float: left;
    margin: 0;
    width: 24pt;
    height: 24pt;
    padding: 0;
}

#searchbar #bar input:focus ~ button,
#searchbar #bar input.focus ~ button {
    border: 1px solid #000;
}
#searchbar #panel {
    display: none;
    width: calc(100% - 52pt + 1px);
    border: 1px solid black;
    border-top: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: .4em;
    background: #fff;
}
#searchbar.results #panel {
    width: calc(100% - 140pt + 1px);
}
#searchbar #panel table {
    border-collapse: collapse;
    border-spacing: 0;
}
#searchbar #panel td {
    vertical-align: top;
}
#searchbar #panel svg {
    height: 100%;
    min-height: 500px;
}
#searchbar #panel circle.hover {
    opacity: .6;
    display: none;
    cursor: default;
}
#searchbar #panel .add {
    color: #fff;
    height: 25px;
    width: 25px;
    opacity: .6;
    font: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 2em 0 0;
}
#searchbar #panel .add:hover {
    opacity: .8;
}
#searchbar #panel .add:active {
    opacity: 1;
}
#searchbar #panel .add:disabled {
    display: none;
}
#searchbar #panel ul {
    margin: 0;
    padding: 0;
}
#searchbar #panel li {
    margin-top: 1em;
}
#searchbar #panel li:first-child {
    margin-top: 0;
}
#searchbar #panel .predefined {
    margin-top: .5em;
}
#searchbar #panel .predefined button {
    display: table-cell;
    width: auto;
    margin: 0 0 .4em;
}
#searchbar #panel .out {
    font-size: 10pt;
}
#searchbar #panel .out dt {
    margin: 1em 0 .2em;
}

svg {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#vizContainer {
    margin-top: 4em;
    white-space: nowrap;
}

#vizContainer svg {
    vertical-align: top;
    margin-top: 45px;
}
#vizContainer svg:last-child {
    padding-right: 240px;
}

#vizContainer svg line,
#panel line {
    stroke: #999;
    stroke-opacity: 0.6;
}

#vizContainer svg g circle,
#panel circle {
    stroke: #fff;
    stroke-width: 2px;
}

#vizContainer svg g text {
    text-anchor: middle;
    font-size: 8pt;
    fill: #fff;
    dominant-baseline: central;
    pointer-events: none;
}

#vizContainer svg g rect {
    fill: transparent;
}

#vizContainer svg rect.box {
    fill: #ddd;
}

#hostBar {
    position: fixed;
    background: white;
    z-index: 2;
}

#viewSelectDiv {
    margin-bottom: 1em;
}

#viewLabelDiv {
    margin-bottom: 1em;
}

#viewLabelL {
    position: relative;
    font-family: sans-serif;
    opacity: 0.8;
    margin-left: 0.5em;
}

#viewLabelR {
    position: fixed;
    right: 240px;
    font-family: sans-serif;
    opacity: 0.8;
    margin-top: -2.2em;
    margin-right: 0.5em;
}

#viewSelectL {
    position: relative;
    padding: 0.15em;
    font-family: sans-serif;
    opacity: 0.8;
    margin-left: 0.5em;
}

#viewSelectR {
    position: fixed;
    right: 240px;
    padding: 0.15em;
    font-family: sans-serif;
    opacity: 0.8;
    margin-right: 0.5em;
}

#viewSeparator {
    display: inline-block;
    border-right: 2px dotted rgba(3, 3, 3, 0.24);
    position: relative;
    z-index: 2; /* make this div sit on top of the hostBar div */
}

#hostBarSeparator {
    height: 62px;
    display: inline;
    border-right: 2px dotted rgba(3, 3, 3, 0.24);
    position: fixed;
    margin-top: -2em;
}

#sidebar {
    width: 240px;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 2;
}

#sidebar #diff_button {
    height: 24pt;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2em;
}

#sidebar .info {
    height: 12em;
    overflow: auto;
}

#sidebar .event {
    word-break: break-all;
    margin-bottom: 1em;
}

#sidebar .fields,
.dialog .info {
    font-size: 10pt;
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    overflow: hidden;
}
#sidebar .fields .title,
.dialog .info .title {
    text-align: left;
    vertical-align: top;
    padding-right: 1em;
    white-space: nowrap;
}
#sidebar .fields .value,
.dialog .info .value {
    /*word-break: break-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .hidden {
    margin-top: 2em;
}
#sidebar .hidden svg {
    float: left;
    margin-top: 1em;
}

svg#defs {
    height: 0;
    width: 0;
    position: absolute;
}

/* Popup dialog */
.dialog {
    width: 200px;
    background: #eee;
    font-family: sans-serif;
    position: absolute;
    z-index: 2;
    display: none;
}
.dialog.host {
    position: fixed;
    z-index: 3;
}
.dialog.hidden {
    z-index: 3;
}

.dialog .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: inherit;
    border-bottom-color: transparent;
}
.dialog.right .triangle {
    border-right-color: transparent;
    right: -20px;
    top: 0;
}
.dialog.left .triangle {
    border-left-color: transparent;
    left: -20px;
    top: 0;
}
.dialog .name,
.dialog .info {
    margin: 1em;
    color: white;
    word-break: break-all;
}
.dialog button {
    margin: 0;
    background: rgba(0,0,0,.1);
}
.dialog button:hover {
    margin: 0;
    background: rgba(0,0,0,.05);
}
.dialog button:active {
    margin: 0;
    background: rgba(0,0,0,.2);
}
.dialog:not(.host) button.hb {
    display: none;
}
.dialog.host button:not(.hb) {
    display: none;
}

/* Error box */
#errorbox {
    display: none;
    width: 50%;
    box-sizing: border-box;
    position: fixed;
    top: 200px;
    left: 25%;
    z-index: 99;
    background: #c44;
    color: #fff;
    padding: 1em;
}
#errorbox pre {
    overflow: auto;
    padding: .4em;
    background: #FDD;
    color: #444;
}
#errorbox pre:last-child {
    margin-bottom: 0;
}
#errorbox pre + br {
    display: none;
}

#errorcover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    background: rgba(255,255,255,.8);
}